@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="./Welcome/index">welcome<-->index </a><br />
    <a href="./Welcome/index1">welcome-->index1</a>
    <p> 1. 控制器的增删改查操作添加控制器的时候 可以添加 视图使用EntityFramework 的Mvc 控制器 视图上下文efcore 都可以添加上 </p>
    <p>
        2 . 前提是先建立库中表对应的model 再选择 之后添加会创建data目录包含 MovieContext 上下文
        [Bind] 特性是防止过度发布的一种方法。 只应在 [Bind] 特性中包含想要更改的属性。 有关详细信息，请参阅防止控制器过度发布。
        ViewModels 提供了一种替代方法以防止过度发布。
    </p>
    <div>
        生成的内容有1>  services.AddDbContext\MovieContext>
        (options =>
        options.UseSqlServer(Configuration.GetConnectionString("MovieContext")));

        qeq
    </div>
    <div>
        2> 数据库上下文创建data目录包含 MovieContext 上下文
        3> appsettings.json文件 链接数据库字符串 "ConnectionStrings": {
        "MovieContext": "Server=(localdb)\\mssqllocaldb;Database=MovieContext-47866f6e-eacb-4781-b3dd-a5d111fc9139;Trusted_Connection=True;MultipleActiveResultSets=true"
        }
    </div>
    <ul>

        <li>因为没有库和表对应 ：</li>
        <li>
            3 .所以 你需要创建数据库，并且使用 EF Core 迁移功能来执行此操作。
            通过迁移可创建与数据模型匹配的数据库，并在数据模型更改时更新数据库架构。
        </li>
    </ul>
    <p>
      4.  Add-Migration 命令生成用于创建初始数据库架构的代码。
        Update-Database 命令在用于创建数据库的 Migrations/{time-stamp}_InitialCreate.cs 文件中运行 Up 方法。
        UP  Down  Build 方法三个
    </p>
    <b>
        创建数据库
        工具 - > NuGet软件包管理器 - >软件包管理器控制台
        //创建模型的初始表
        Add-Migration InitialCreate 或者InitialDB 创建新数据库 必须切换到当前项目目录下执行
        //将新迁移应用于数据库
        Update-Database  为任何待定的模型更改 搭建迁移脚本。也就是SQL 创建或者更新对应表到数据库（空表）


    </b>
    <b>
       5. //这里我们利用ASP.NET Core的依赖注入来获取数据库上下文。
        public readonly BooksDBContext myDBContext;

    </b>
    <div>
        \ form asp-action="Edit"\ >  可以提交post表单按钮事件到Action方法post执行   \ input type="hidden" asp-for="Id" /\
        \input type="submit" value="Delete" class="btn btn-danger" /\|
    </div>
    <div><a href="https://docs.microsoft.com/zh-cn/aspnet/core/tutorials/first-mvc-app/adding-model?view=aspnetcore-2.2&tabs=visual-studio">参考地址</a></div>
</div>
