
@{
    ViewData["Title"] = "My Hello World List !";
    Layout=null; // 
}
<title>@ViewData["Title"] </title>
<h2>@ViewData["Title"] </h2>
<h3>Hello from our View Template!</h3>
<a href="./Helloworld/welcome">welcome</a>
<span>
    布局模板使你能够在一个位置指定网站的 HTML 容器布局，然后将它应用到网站中的多个页面。 查找 RenderBody() 行。
    RenderBody 是显示创建的所有特定于视图的页面的占位符，已包装在布局页面中。 例如，如果选择“隐私”链接
    ，Views/Home/Privacy.cshtml 视图将在 RenderBody 方法中呈现。
    Layout=null; //可以把系统模板去除
</span>

